.footer {
    color: var(--white);
    text-align: center;
}

.footer-logo {
    display: none;
}

.footer .social-footer {
    justify-content: center;
    padding: 0px;

}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        gap: 8px;
    }
    .footer-logo {
        display: block;
    }

    .footer .social-footer {
        order: 3;
        padding: 0px;
    }

    .social-footer {
        padding-block-end: 24px;
        gap: 16px;
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .footer-copyright {
        display: flex;
        gap: 8px;
    }
    .footer {
        margin-block-end: 40px;
        margin-block-start: 40px;
    }
}
